{% extends "layout.html" %}
{% block content %}

<div class="card" class="m-5 p-2">
    <h5 class="card-title">{{ player.Player }} - {{ player.Team }}</h5>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">{{ player.Position }}</li>
        <li class="list-group-item">{{ player.Height_inches }}</li>
        <li class="list-group-item">{{ player.Weight_lbs }}</li>
        <li class="list-group-item">{{ player.Age }}</li>
    </ul>
    <div class="card-body">
        <a href="/edit/{{player.id}}" class="card-link btn btn-primary">edit</a>
    </div>
</div>
<form action="/delete/{{player.id}}" method="post"><button type="submit" class="btn btn-danger">Save</button></form>


{% endblock %}